body {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none !important;
}

#gameInfo {
    text-align: center;
    align-content: center;
    flex-direction: column;
}

#settings {
    padding: 10;
}