body {
	font-family: arial;
	font-size: small;
    background-color: rgb(150, 142, 202);
    color: white;
}

a {
    color: thistle;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
}
 