body {
	font-family: arial;
	font-size: small;
    background-color: rgb(150, 142, 202);
    color: white;
}

a {
    color: rgb(39, 38, 53);
    text-decoration: none;
    display: block;
}

a:hover {
    color: aquamarine;
}
 